@model projet_photo_duval.Models.Seance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rendez-vous</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Adresse :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            Ville :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            Date du rendez-vous :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSeance)
        </dd>

        <dt>
            Statut :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

        <dt>
            Fin de la séance le :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFinSeance)
        </dd>

        <dt>
            Agent :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.Nom), @Html.DisplayFor(model => model.Agent.Prenom)
        </dd>

        <dt>
            Photographe :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photographe.Nom), @Html.DisplayFor(model => model.Photographe.Prenom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour à la liste de rendez-vous", "Index")
</p>
