@model IEnumerable<projet_photo_duval.Models.Seance>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $('.jquery_datepicker').datepicker(); //Initialise any date pickers
</script>
@{
    ViewBag.Title = "Index";
}

<h2>Liste de séance(s)</h2>

@using (Html.BeginForm("Index", "Seances", FormMethod.Get))
{
<p>
    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Demandée",
            Value = "demandée"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Confirmée",
            Value = "confirmée",
        });
        listItems.Add(new SelectListItem
        {
            Text = "Réalisée",
            Value = "réalisée"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Payée",
            Value = "payée"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Reportée",
            Value = "reportée"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Livrée",
            Value = "livrée"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Facturée",
            Value = "facturée"
        });
    }
    Rechercher par nom/prénom: @Html.TextBox("ChaineFiltre", ViewBag.filtreCourantNom as string)

    Rechercher par date: @Html.TextBox("DateFiltre", ViewBag.filtreCourantDate as string, new { @class = "jquery_datepicker", type = "date" })

    Rechercher par statut: @Html.DropDownList("StatutFiltre", listItems, "Choisir un statut", ViewBag.filtreCourantStatut as string)
    <input type="submit" value="Rechercher" /> 
</p>
}

@if (ViewBag.MessageError != "")
{
    @Html.Raw("<div class='alert alert-danger'><strong>Erreur! </strong>")
    @ViewBag.MessageError
    @Html.Raw("</div>")
}

@Html.Action("AvoirSeances")