@model IEnumerable<projet_photo_duval.Models.Seance>
@using PagedList.Mvc;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $('.jquery_datepicker').datepicker(); //Initialise any date pickers
</script>
@{
    ViewBag.Title = "Index";
    var pagedlist = (PagedList.IPagedList)Model;
}

<h2>Liste de séance(s)</h2>

@using (Html.BeginForm("Index", "Seances", FormMethod.Get))
{
<p>
    Rechercher par nom/prénom: @Html.TextBox("ChaineFiltre", ViewBag.filtreCourantNom as string)

    Rechercher par date: @Html.TextBox("DateFiltre", ViewBag.filtreCourantDate as string, new { @class = "jquery_datepicker", type = "date" })
    <input type="submit" value="Rechercher" />
</p>
}

@if (ViewBag.MessageError != "")
{
    @Html.Raw("<div class='alert alert-danger'><strong>Erreur! </strong>")
    @ViewBag.MessageError
    @Html.Raw("</div>")
}

<table class="table">
    <tr>
        <th width="20%">
            Adresse
        </th>
        <th>
            <a href="@Url.Action("Index", new { ordreTri = ViewBag.TriDate, filtreCourantNom = ViewBag.filtreCourantNom, filtreCourantDate = ViewBag.filtreCourantDate })">Date de la séance</a>
        </th>
        <th>
            Ville
        </th>
        <th>
            <a href="@Url.Action("Index", new { ordreTri = ViewBag.TriStatut, filtreCourantNom = ViewBag.filtreCourantNom, filtreCourantDate = ViewBag.filtreCourantDate })">Statut</a>
        </th>
        <th>
            Date de fin de la séance
        </th>
        <th>
            Nom de l'agent
        </th>
        <th>
            Nom du photographe
        </th>
        <th></th>
    </tr>

@{int nombreEntree = 0;}
@foreach (var item in Model) {
    nombreEntree++;
    <tr>
        <td>-
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinSeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.Nom), @Html.DisplayFor(modelItem => item.Agent.Prenom)       
        </td>
        <td>
            @if (Model != null)
            {
                if (item.Photographe != null)
                {
                    @Html.DisplayFor(modelItem => item.Photographe.Nom); @Html.DisplayFor(modelItem => item.Photographe.Prenom);
                } else
                {
                    <font color="red"><b><u>À décider</u></b></font>
                }
            }

            
        </td>
        <td>
            @Html.ActionLink("Détails du rendez-vous", "Details", new { id=item.Seance_ID }) <br />
            @Html.ActionLink("Gérer les photos","AddImage","Photos", new {id=item.Seance_ID})<br />
            @Html.ActionLink("Voir photos", "ShowImage", "Photos", new { id = item.Seance_ID })
        </td>
    </tr>
}

@if (nombreEntree == 0)
{
    <tr>
        <td width="50%">
            Aucune entrée pour votre recherche à été trouvé
        </td>
    </tr>
}

</table>
Page @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount

@Html.PagedListPager(pagedlist, page => Url.Action("Index", new { page, ordreTri = ViewBag.triCourant, filtreCourant = ViewBag.filtreCourant }))