@model projet_photo_duval.ViewModels.ViewModelDetailsFacture

@{
    ViewBag.Title = "Details";
}

<h2>Détails de la facture</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom de l'agent :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomAgent)
        </dd>

        <dt>
            Nom du photographe :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomPhotographe)
        </dd>

        <dt>
            Prix de la facture :
        </dt>

        <dd>
            @Model.prix $
        </dd>

        <dt>
            Statut du paiement :
        </dt>

        <dd>
            @if (Model.estPayee == 1)
            {
                <p>Payée</p>
            }
            else
            {
                <p>Pas payée</p>
            }
        </dd>

        <dt>
            Adresse :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour à la liste", "Index")
</p>
