@model projet_photo_duval.ViewModels.ViewModelDetailsFacture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ViewModelDetailsFacture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomPhotographe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomPhotographe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estPayee)
        </dt>

        <dd>
            @if (Model.estPayee == 0)
            {
                <span style="color:red">Impayé</span>
            }
            else
            {
                <span style="color:green">Payé</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
