@model IEnumerable<projet_photo_duval.Models.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstPayee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seance.Adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @if (item.EstPayee == 1)
            {
                <p>Payée</p>
            }
            else
            {
                <p>Pas payée</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seance.Adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Facture_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Facture_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Facture_ID })
        </td>
    </tr>
}

</table>
