@model IEnumerable<projet_photo_duval.Models.Facture>
@using PagedList.Mvc;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $('.jquery_datepicker').datepicker(); //Initialise any date pickers
</script>
@{
    ViewBag.Title = "Index";
    var pagedlist = (PagedList.IPagedList)Model;
}

<h2>Factures</h2>

<p>
    @Html.ActionLink("Créer une nouvelle facture", "Create")
</p>

@using (Html.BeginForm("Index", "Seances", FormMethod.Get))
{
    <p>
        Rechercher par date: @Html.TextBox("DateFiltre", ViewBag.filtreCourantDate as string, new { @class = "jquery_datepicker", type = "date" })
        <input type="submit" value="Rechercher" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            <a href="@Url.Action("Index", new { ordreTri = ViewBag.TriStatut, filtreCourantNom = ViewBag.filtreCourantNom, filtreCourantDate = ViewBag.filtreCourantDate })">Statut</a>
        </th>
        <th>
            <a href="@Url.Action("Index", new { ordreTri = ViewBag.TriDate, filtreCourantNom = ViewBag.filtreCourantNom })">Date de la facturation</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seance.Adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @if (item.EstPayee == 1)
            {
                <p>Payée</p>
            }
            else
            {
                <p>Pas payée</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFacturation)
        </td>
        <td>
            @if (item.Forfait == 1)
            {
                <p>Bronze</p>
            }
            else if (item.Forfait == 2)
            {
                <p>Argent</p>
            }
            else
            {
                <p>Or</p>
            }
        </td>
        <td>
            @if (item.Commentaire == null)
            {
                <p>Aucun commentaire</p>
            }
            else
            {
                Html.DisplayFor(modelItem => item.Commentaire);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seance.Adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Facture_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Facture_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Facture_ID })
        </td>
    </tr>
}

</table>
Page @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount

@Html.PagedListPager(pagedlist, page => Url.Action("Index", new { page, ordreTri = ViewBag.triCourant, filtreCourant = ViewBag.filtreCourant }))
