@model projet_photo_duval.Models.Photo

@{
    ViewBag.Title = "Ajouter des photos";
}

<h2>Ajouter des photos</h2>

@using (Html.BeginForm("AddImage","Photos",FormMethod.Post,new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Veuillez sélectionner vos photos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="multiple">
            <input type="file" class="multiple" name="files" multiple />
        </div>
        <br />
        <input type="submit" value="Soumettre les photos" class="btn btn-default" />
        <br />
    </div>
}
<br />
@if (ViewBag.MessageError != null)
{
    @Html.Raw("<div class='alert alert-danger'><strong>Erreur! </strong>")
    @ViewBag.MessageError
    @Html.Raw("</div>")
}
@if (ViewBag.Message != null)
{
    @Html.Raw("<div class='alert alert-success'><strong>Merci! </strong>")
    @ViewBag.Message
    @Html.Raw("</div>")
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10 text-success">
        @ViewBag.FileStatus
    </div>
</div>
<div class="form-group">
    <h2>Liste des photos de la séance</h2>
    <div class="col-md-8">
        @Html.Action("PhotosDetails", "Photos")
    </div>
</div> 
<td>
    @Html.ActionLink("Télécharger les photos", "DownLoadPhoto", new { id = ViewBag.SeanceId})
</td>


<div>
    <br />
    @Html.ActionLink("Retour vers la liste", "Index")
</div>
