@model IEnumerable<projet_photo_duval.Models.Photo>

@{
    ViewBag.Title = "Photos de la séance";
    int cpt = 1;
    int cpt2 = 1;
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<hr />
<h2>Photos de votre séance</h2>
<hr />

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:60%;height:50%;margin-right:auto;margin-left:auto;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @foreach (var item in Model)
            {
                if (cpt2 != 1)
                {
                    <li data-target="#myCarousel" data-slide-to="@(cpt2-1)"></li>
                }
                cpt2++;
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="data:image;base64,@Convert.ToBase64String(Model.First().Photo1)" alt="@Model.First().Nom" style="width:100%;height:100%;">
                <div class="carousel-caption">
                    <h3>@Model.First().Nom</h3>
                    <p>@Model.First().Commentaire</p>
                </div>
            </div>
            
            @foreach (var item in Model)
            {
                if(cpt != 1)
                {
                <div class="item">
                    <img src="data:image;base64,@Convert.ToBase64String(item.Photo1)" alt="@item.Nom" style="width:100%;height:100%;">
                    <div class="carousel-caption">
                        <h3>@item.Nom</h3>
                        <p>@item.Commentaire</p>
                    </div>
                </div>
                }
                cpt++;
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<hr />
<h2>Liste des photos de la séance</h2>
<hr />
<br />
    <div class="form-group">
        <div class="col-md-8">
            @Html.Action("PhotosDetailsAgent", "Photos", new { id = (ViewContext.RouteData.Values["id"]) })
        </div>
    </div>
<div>
    <br />
    @Html.ActionLink("Retour vers la liste", "Index", "Agents", null , null)
</div>


